	<section class="covercontent">
		<div class="container-fluid bg-white">
			<div class="row">
				<div class="col-sm-3">

					<div class="sidebar_link">
						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Các Dịch Vụ</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp</a></li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Dịch Vụ Khác</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp</a></li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Hỏi Đáp</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp</a></li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Bản Đồ</a>
						</h2>
						<div class="block-sidebar-menu block-sidebar-menu--advertise-img">
							<a href="">
								<img src="images/map.jpg" alt="" class="img-fluid center-block">
							</a>
						</div> <!-- end block-sidebar-menu -->	

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Thống Kê</a>
						</h2>
						<div class="block-sidebar-menu block-sidebar-menu--statistical">
							<ul>
								<li>
									<i class="fa fa-users" aria-hidden="true"></i>
									<span>Luot xem:</span> 4120 <br>
									<i class="fa fa-signal" aria-hidden="true"></i>
									<span>Đang Online:</span> 4120
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->					
					</div><!-- sidebar_link -->

				</div><!-- end col-sm-3 -->

				<div class="col-sm-6">
					<div class="row">
						<div class="maincontent">
							<ol class="breadcrumb">
							    <li><a href="#">Home</a></li>
							    <li><a href="#">Library</a></li>
							    <li class="active">Data</li>
							</ol>
							
							<div class="container intro-content">
								<h1 class="title">
									Dịch vụ kế toán trọn gói
								</h1>
			
								<div class="newsdetail-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, totam reiciendis autem rerum, temporibus, recusandae quibusdam veniam dignissimos dolor eveniet repellat atque. Beatae voluptate fugit facere voluptatibus, excepturi officia ab. <br>

									<img src="images/taichinhdoanhnghiep.jpg" alt="">
									<br>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium neque veritatis illo nam, aut deserunt placeat repellendus hic quo similique assumenda dicta culpa adipisci obcaecati aspernatur aperiam odit minus ipsam!
								</div><!-- end newsdetail-text --> 
							</div> <!-- end news-content -->
						</div><!-- end maincontent -->

					</div> <!-- end row -->
				</div><!-- end col-sm-6 -->

				<div class="col-sm-3">

					<div class="sidebar_link">
						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Tin tức về thuế</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp trong thoi dai ky nguyen 2016</a>
								</li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Quảng Cáo</a>
						</h2>
						<div class="block-sidebar-menu block-sidebar-menu--advertise-img">
							<a href="">
								<img src="images/no-image.jpg" alt="" class="img-fluid center-block">
							</a>
							<a href="">
								<img src="images/no-image.jpg" alt="" class="img-fluid center-block">
							</a>
							<a href="">
								<img src="images/no-image.jpg" alt="" class="img-fluid center-block">
							</a>
						</div> <!-- end block-sidebar-menu -->							
					</div><!-- sidebar_link -->


				</div><!-- end col-sm-3 -->
			</div> <!-- end row -->
		</div> <!-- end container-fluid -->
	</section><!-- end covercontent -->