	<section class="covercontent">
		<div class="container-fluid bg-white">
			<div class="row">
				{{> sidebar}}

				<div class="col-sm-6">
					<div class="row">
						<div class="maincontent">
							<ol class="breadcrumb">
							    <li><a href="#">Home</a></li>
							    <li><a href="#">Library</a></li>
							    <li class="active">Data</li>
							</ol>
							
							<div class="container contact-content">
								<div class="contact-info">
									<p class="contact-info__name">
										Công Ty TNHH tư vấn dịch vụ kế toán A&C Ninh Thuận 
									</p>
									<p class="contact-info__communicate">
										<label for=""><i class="fa fa-home" aria-hidden="true"></i>:
											25 Phú Xuân Thưởng, Phường Tấn Tài, TP. Phan Rang - Tháp Chàm, Tỉnh Ninh Thuận.
										</label>

										<label for=""><i class="fa fa-phone" aria-hidden="true"></i>:
											091 7659 475 - 091 3938 090 
										</label>

										<label for=""><i class="fa fa-envelope" aria-hidden="true"></i>:
											ketoanac@gmail.com
										</label>
									</p>

									<div class="frm-contact">
									    <form>
									        <div class="form-group row">
									            <label class="col-sm-2 form-control-label">Họ Tên:</label>
									            <div class="col-sm-10">
									                <input type="text" class="form-control">
									            </div>
									        </div>
									        <div class="form-group row">
									            <label class="col-sm-2 form-control-label">Email:</label>
									            <div class="col-sm-10">
									                <input type="email" class="form-control">
									            </div>
									        </div>
									        <div class="form-group row">
									            <label class="col-sm-2 form-control-label">Phone:</label>
									            <div class="col-sm-10">
									                <input type="phone" class="form-control">
									            </div>
									        </div>
									        <div class="form-group row">
									            <label class="col-sm-2 form-control-label">Nội dung:</label>
									            <div class="col-sm-10">
									                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
									            </div>
									        </div>										        							        
									        <div class="form-group row">
									            <div class="col-sm-offset-2 col-sm-10">
									                <button type="submit" value="Gửi" class="btn btn-primary">Gửi</button>
									                <button type="reset" value="Xóa" class="btn btn-danger">Xóa</button>
									            </div>
									        </div>
									    </form>
									</div>

									<div id="map">
										<img src="images/map.jpg" alt="" class="img-fluid">
									</div>

								</div> <!-- end contact-info -->

							</div> <!-- end contact-content -->
						</div><!-- end maincontent -->

					</div> <!-- end row -->
				</div><!-- end col-sm-6 -->

				{{> sidebarright}}
			</div> <!-- end row -->
		</div> <!-- end container-fluid -->
	</section><!-- end covercontent -->