	<section class="covercontent">
		<div class="container-fluid bg-white">
			<div class="row">
				{{> sidebar}}

				<div class="col-sm-6">
					<div class="row">
						<div class="maincontent">
							<ol class="breadcrumb">
							    <li><a href="#">Home</a></li>
							    <li><a href="#">Library</a></li>
							    <li class="active">Data</li>
							</ol>
							
							<div class="container intro-content">
								<h1 class="title">
									Dịch vụ kế toán trọn gói
								</h1>
			
								<div class="newsdetail-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis, totam reiciendis autem rerum, temporibus, recusandae quibusdam veniam dignissimos dolor eveniet repellat atque. Beatae voluptate fugit facere voluptatibus, excepturi officia ab. <br>

									<img src="images/taichinhdoanhnghiep.jpg" alt="">
									<br>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium neque veritatis illo nam, aut deserunt placeat repellendus hic quo similique assumenda dicta culpa adipisci obcaecati aspernatur aperiam odit minus ipsam!
								</div><!-- end newsdetail-text --> 
							</div> <!-- end news-content -->
						</div><!-- end maincontent -->

					</div> <!-- end row -->
				</div><!-- end col-sm-6 -->

				{{> sidebarright}}
			</div> <!-- end row -->
		</div> <!-- end container-fluid -->
	</section><!-- end covercontent -->