	<footer class="footer-cover">
		<div class="container-fluid">
			<div class="footer-above">
				<div class="col-md-4">
					<div class="list-link-footer">
						<h3 class="title-link-footer">
							<a href="">
								Tự giới thiệu
							</a>
						</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque dignissimos omnis ipsum, aut repellat officia sequi sint reprehenderit dolore nesciunt quo perspiciatis sapiente laborum cumque, distinctio deserunt pariatur quos, aliquam.
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="list-link-footer">
						<h3 class="title-link-footer">
							<a href="">Liên Kết Website</a>
						</h3>
						<ul>
							<li>
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
								<a href="">Link footer 1</a>
							</li>
							<li>
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
								<a href="">Link footer 2</a>
							</li>
							<li>
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
								<a href="">Link footer 3</a>
							</li>
							<li>
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
								<a href="">Link footer 4</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-4">
					<div class="list-link-footer">
						<h3 class="title-link-footer">
							<a href="">Liên Hệ</a>
						</h3>
						<p>
							Website: abc.com
						</p>
						<p>
							Email: abc@gmail.com
						</p>

						<ul class="social flat">
						    <li class="social-widget-facebook">
						    	<a href="https://www.facebook.com/colorlib" title="Facebook" style="height:40px;width:40px;line-height:40px;font-size:18px;" target="_blank">
						    		<i class="fa fa-facebook"></i>
						    	</a>
						    </li>
						    <li class="social-widget-google-plus">
						    	<a href="https://plus.google.com/+Colorlib" title="GooglePlus" target="_blank">
						    		<i class="fa fa-google-plus"></i>
						    	</a>
						    </li>
						    <li class="social-widget-twitter">
						    	<a href="https://twitter.com/colorlib" title="Twitter"  target="_blank">
						    		<i class="fa fa-twitter"></i>
						    	</a>
						    </li>
						    <li class="social-widget-youtube-play">
						    	<a href="http://www.youtube.com/channel/UCOaovjLNXdIch2vLFsw_uew" title="Youtube" target="_blank">
						    		<i class="fa fa-youtube-play"></i>
						    	</a>
						    </li>
						</ul>						
						
					</div>
				</div>
			</div> <!-- end footer-above -->

			<div class="footer-bottom">
				<p class="text-xs-center">
					Copyright 2016 Kế Toán A&C - All Rights Reserved.
				</p>
			</div><!-- end footer-bottom -->
		</div>
	</footer>