				<div class="col-sm-3">

					<div class="sidebar_link">
						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Tin tức về thuế</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp trong thoi dai ky nguyen 2016</a>
								</li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Quảng Cáo</a>
						</h2>
						<div class="block-sidebar-menu block-sidebar-menu--advertise-img">
							<a href="">
								<img src="images/no-image.jpg" alt="" class="img-fluid center-block">
							</a>
							<a href="">
								<img src="images/no-image.jpg" alt="" class="img-fluid center-block">
							</a>
							<a href="">
								<img src="images/no-image.jpg" alt="" class="img-fluid center-block">
							</a>
						</div> <!-- end block-sidebar-menu -->							
					</div><!-- sidebar_link -->


				</div><!-- end col-sm-3 -->