				<div class="col-md-3 hidden-sm-down">
					<div class="sidebar_link">
{{!-- 						{{#each sidebarLeftServiceCategories}}
						<h2 class="tisidebarLeftServiceCategoriestle-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">{{title}}</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								{{#each sidebarLeftServicePosts}}
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">{{title}}</a>
								</li>
								{{/each}}
							</ul>						
						</div> <!-- end block-sidebar-menu -->
						{{/each}} --}}

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Các Dịch Vụ</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp</a></li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Dịch Vụ Khác</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp</a></li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Hỏi Đáp</a>
						</h2>
						<div class="block-sidebar-menu">
							<ul>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi tên doanh nghiệp</a></li>
								<li class="linkactive">
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi địa chỉ công ty</a></li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Thay đổi thành viên công ty</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Tăng vốn điều lệ</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Bổ sung nghành nghề</a>
								</li>
								<li>
									<i class="fa fa-chevron-right" aria-hidden="true"></i>
									<a href="">Giấy phép hành nghề</a>
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Bản Đồ</a>
						</h2>
						<div class="block-sidebar-menu block-sidebar-menu--advertise-img">
							<a href="">
								<img src="images/map.jpg" alt="" class="img-fluid center-block">
							</a>
						</div> <!-- end block-sidebar-menu -->	

						<h2 class="title-cate-link">
							<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
							<a href="">Thống Kê</a>
						</h2>
						<div class="block-sidebar-menu block-sidebar-menu--statistical">
							<ul>
								<li>
									<i class="fa fa-users" aria-hidden="true"></i>
									<span>Luot xem:</span> 4120 <br>
									<i class="fa fa-signal" aria-hidden="true"></i>
									<span>Đang Online:</span> 4120
								</li>
							</ul>						
						</div> <!-- end block-sidebar-menu -->					
					</div><!-- sidebar_link -->

				</div><!-- end col-md-3 -->